
.btn_primary{
    --background-btn:var(--clr-main-purple);
    cursor: pointer;
 
}

.auth_submit_btn{
    text-transform: capitalize;
    width:100%;
    margin-top:20px;
}

.add_task_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding:3px 20px;
    font-weight:700 ;
    font-size: var(--heading-L);
    
}
.add_column_btn{
    display:flex;
    align-items: baseline;
    gap:5px;
    margin-left:auto;
    margin-right: auto;
    padding:12px 18px;
    font-weight: 700;
    font-size:var(--heading-M);
}

.input_list_btn{
    border-radius: 20px;
    background:rgba(99, 95, 199, 0.1);
    color:var(--clr-main-purple);
    font-weight: 700;
    font-size:0.82rem;
    margin-top:20px;
    width:100%
}

.delete_button{
    --background-btn:var(--clr-red);
   border-radius: 20px;
   width:100%;
   font-weight: 700;
    font-size:0.82rem;
    margin-top:20px;
}