
.wrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    ;
    min-height:100%;
   
}
.wrapper header{
    grid-area: header;
}

.wrapper main{
    grid-area:main;
    background:var(--clr-body);
    min-height:100vh;
    display: grid;
}

.empty_board{
    justify-self: center;
    align-self: center;
    padding-left:var(--padding-left-space);
    padding-right:var(--padding-right-space);

}
.empty_board p{
  text-align: center;
  font-size:var(--heading-L);
  color:var(--clr-medium-gray);
  font-weight: 700;
  line-height:23px;
  margin-bottom: 25px;
}


.board_container{
    width:264px;
    background:white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    position:relative;
    top:10px;
    left:50px;
    padding-bottom: 16px;
    
}
.board_menu{
    padding-top:16px;
}
.board_menu_headline{
    text-transform: capitalize;
    color:var(--clr-medium-gray);
    font-size: var(--heading-M);
    letter-spacing: 2.4px;
    font-weight: 700;
    margin-left:24px;
    margin-bottom: 20px;
}
.board_items{
    padding:0;
}
.board_items li{
    display: flex;
    align-items: center;
    width:90%;
    padding:14px;
   color:var(--clr-medium-gray);
   font-size: var(--heading-M);
   font-weight: 700;
}
.board_items li svg{
    margin-right:12px;
    fill:var(--clr-medium-gray);
}

/* Need to convert this selector to a class */
.board_items_active{
   background-color:var(--clr-main-purple);
   border-radius: 0px 100px 100px 0px;
}
.board_items_active path{
   fill:white;
   
}
.board_items_active span{
    color:white;
}
.create_board_btn{
    display:flex;
    align-items: center;
    border:none;
    background:none;
    width:100%;
    padding:14px;
}

.create_board_btn span{
    display:inline-block;
    margin-left:12px;
    text-transform: capitalize;
    color:var(--clr-main-purple);
    font-weight: 700;
}
.create_board_btn path{
   fill:var(--clr-main-purple);
}

.not_board_create_message_error{
    font-size: 1rem;
    padding:20px 10px;
    color:var(--clr-main-purple);
    font-weight: 700;
    text-align: center;
  }

