/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* font-family: ; */
  }
  
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  ul{
    list-style-type: none;
    padding:0;
  }

  
  :root{
    /* Font sizes */
    --heading-XL:1.5rem;
    --heading-L:1.125rem;
    --heading-M:0.9375rem;
    --heading-s:0.75rem;
    --body-M:0.75rem;
    --body-L:0.8125rem;

    /* Light Mode colors */
     --clr-main-purple:#635FC7;
     --clr-black:#000112;
     --clr-medium-gray:#828FA3;
     --clr-red:#EA5555;
     --clr-body:#f4f7fd;
     --clr-main-purple-hover:#A8A4FF;
     --white-bg:#FFFFFF;
     --clr-divider-line: #E4EBFA;
     --dark-box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     --task-col-bg:#FFFFFF;
     --very-dark-grey-clr:#828FA3;
     --close-modal-btn-clr:#635FC7;
    --clr-body-opaque:rgba(99, 95, 199, 0.1);
    --dark-black-bg:#ffffff;
    --dark-shadow:0px 10px 20px rgba(54, 78, 126, 0.25);
    --dark-opaque:rgba(228, 235, 250,0.5);
    --dragging-border:#828FA3;

    /* BreakPoints */
    --tablet-breakpoint:550px;
    --laptop-breakpoint:1100px;
    --desktop-breakpoint:1500px;

    --padding_top:16px;
    --padding-left-space:16px;
    --padding-right-space:16px;

  }

  :root:has(.dark){
    --clr-body:#20212C;
    --clr-black: #FFFFFF;
    --white-bg:#2B2C37;
    --clr-divider-line:#3E3F4E;
    --dark-box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
    --task-col-bg:rgba(62, 63, 78,0.6);
    --very-dark-grey-clr:#FFFFFF;
    --close-modal-btn-clr:#FFFFFF;
    --clr-body-opaque:#FFFFFF;
    --dark-black-bg:#20212C;
    --dark-shadow:0px 10px 20px 0px rgba(54, 78, 126, 0.25);
    --dark-opaque:rgba(255,255,255,0.2);
    --dragging-border:white;
  }


  button{
    --text-color:white;
    --background-btn:silver;
    border-radius:24px;
    color:var(--text-color);
    background:var(--background-btn) ;
    font-size:var(--heading-M);
    padding:10px 60px;
    border:none;
  }



  .max_width_wrapper{
    padding-left:var(--padding-left-space);
    padding-right: var(--padding-right-space);
    
  }


  





