
.container{
    margin-top:24px ;
}
.title{
    color:var(--very-dark-grey-clr);
    text-align: left;
    font-weight: 700;
    font-size:0.82rem;
}
.list{
    margin-top:8px;
}

.list_input{
    margin-bottom:12px;
}