
.modal_container{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.9);
    display:grid;
    place-items: center;
    padding:0 16px;
}

.modal_inner_form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background:white;
    border-radius: 6px;
    min-width:340px;
    padding:24px;
}
.modal_title{
    color:var(--clr-black);
    font-weight: 700;
    font-size:1.125rem;
}

.modal_form{
    width:100%;
    margin-top:24px;
}
.modal_form > div label{
    text-align: left;
}